/* Skills Section */
.skills-section {
    padding: 60px 20px;
    background: linear-gradient(to right, #f3f4f7, #f9f9f9);
    font-family: 'Montserrat', sans-serif;
}

.skills-title {
    font-size: 2.4em;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Flexbox container for skill cards */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 0 20px; /* Add padding to prevent content from touching screen edges */
}

/* Card styling for each skill category */
.skill-category {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(33.33% - 40px); /* Adjust width for responsive layout */
    max-width: 350px;
    min-width: 500px;
    min-height: 300px; /* Set a minimum height for consistency */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}

.skill-category:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.15);
}

.skill-category h3 {
    font-size: 1.6em;
    color: #666;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

/* Icon styling */
.skill-icon {
    font-size: 2em;
    color: #666;
    margin-right: 10px;
}

/* Styling for skill list items */
.skill-category ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.skill-category li {
    font-size: 1.1em;
    line-height: 1.8;
    color: #555;
    padding-left: 20px;
    position: relative;
}

.skill-category li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #444; /* Changed bullet point color to match overall theme */
    font-size: 1.2em;
}

/* Responsive styling for smaller screens */
@media (max-width: 1200px) {
    .skill-category {
        flex: 1 1 calc(45% - 40px); /* Take up half of the row */
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Reduced gap for smaller screens */
    }

    .skill-category {
        flex: 1 1 100%; /* Full width on smaller screens */
        max-width: 500px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .skill-category {
        padding: 15px;
        margin-bottom: 15px;
    }
}
